body{
    background-color: black;
    color: white;
}
.starting {
    padding: 2% 10% 4%;
    color: white;
  }

  .heading {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 4.0rem;
    line-height: 1.5;
  }
.img1{
    position: relative;
    top: 160px;
    width: 120%;
    right: 24%;
    z-index: -1;
}

.button1 {
    background-color:transparent;
    border-radius: 13px;
    color: white;
}
.button2 {
    border-radius: 50%;
    background-color:transparent;
}

